registry=https://registry.npmmirror.com
strict-peer-dependencies=false
auto-install-peers=true

public-hoist-pattern[]=dayjs
public-hoist-pattern[]=@arco-design/web-vue
public-hoist-pattern[]=@iconify/utils

