:root{
  --text-color-primary: var(--el-text-color-primary);
  --text-color-regular: var(--el-text-color-regular);
  --text-color-secondary: var(--el-text-color-secondary);
  --text-color-placeholder: var(--el-text-color-placeholder);
  --text-color-disabled: var(--el-text-color-disabled);
}