:root{
  --text-color-primary: var(--color-text-1);
  --text-color-regular: var(--color-text-1);
  --text-color-secondary: var(--color-text-2);
  --text-color-placeholder: var(--color-text-3);
  --text-color-disabled: var(--color-text-4);

  --bg-color: var(--color-bg-1);
}